/* Mobile first layout */
.game {
  padding: 0;
  max-width: 600px;
  height: 700px;
  position: relative;

  .control-panel {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    background-color: $controlpanel-bg;
    z-index: 20;
    position: relative;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
}

.game-board {
  border-radius:  0;
  height: 600px;
  position: relative;
  top: -100px;
  overflow: hidden;
  background-color: $gameboard-bg;
}

/* Desktop layout */
@media screen and (min-width: 600px) {
  .game {
    padding: 50px;
    margin: 0 auto;
    max-width: 500px;
    height: 700px;
    position: relative;

    .control-panel {
      border-radius: 20px 20px 0 0;
      display: flex;
      flex-direction: column;
      background-color: $controlpanel-bg;
      z-index: 20;
      position: relative;
      padding: 20px;
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }

  .game-board {
    border-radius:  0 0 20px 20px;
    height: 600px;
    position: relative;
    top: -100px;
    overflow: hidden;
    background-color: $gameboard-bg;
  }
}